
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>

<div>
    <h2>Two Binding</h2>
    <input type="text" [(ngModel)]="color" name="username" />
</div>

<div>
    <h2>Pick a highlight color</h2>
    <input type="text" (focusout)="looseFocus($event)" name="username" /> <!--(blur)-->
</div>


<div>
    <p [appHighlight]="color">Highlight me!</p>
</div>


